.aboutSection {
  background-color: #081528;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 4rem 10rem;
  padding-bottom: 10rem;
}
.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
}
.aboutDescription {
  /* color: black; */
  font-size: 1.3rem;
}
.secondText {
  grid-column: span 2;
}
.aboutPic {
  width: 100%;
  border-radius: 10px;
  /* height: 100%; */
  /* background-color: grey; */
}
@media (max-width: 1030px) {
  .aboutSection {
    padding: 4rem 6rem;
    gap: 3rem;
  }
}
@media (max-width: 910px) {
  .aboutSection {
    padding: 4rem 4rem;
    gap: 3rem;
    /* padding-bottom: 5rem; */
  }
  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .aboutSection {
    padding: 3rem 3rem;
  }
}
