.aboutSection {
  background-color: #081528;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 4rem 10rem;
}
.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
}
.aboutGithub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutDescription {
  font-size: 1.3rem;
}
.aboutDescription:first-child {
  display: flex;
  align-items: center;
}
.secondText {
  grid-column: span 2;
}
.aboutPic {
  width: 100%;
}
.githubStats {
  border: 1px solid transparent;
  display: flex;
  border-radius: 6px;
  transition: 0.3s;
}
.githubStats:hover {
  border-color: rgb(0, 255, 119);
}
.aboutButtons {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1030px) {
  .aboutSection {
    padding: 4rem 6rem;
    gap: 3rem;
  }
}
@media (max-width: 910px) {
  .aboutSection {
    padding: 4rem 4rem;
    gap: 3rem;
  }
  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .aboutSection {
    padding: 3rem 3rem;
  }
}
