#root {
  width: 100vw;
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
  /* padding: 1rem; */
}
.page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
