.header {
  background-color: #070c1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid white;
  padding: 5px 3rem;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.headerName {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #86ffcc;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: monospace;
}
.headerItems {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  padding-right: 2rem;
  margin: 0;
  padding: 0;
}
.headerItems a {
  transition: background-color 0.3s, border-color 0.3s;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.headerItems a:hover {
  background-color: #00e1ff61;
  border-color: #00e0ff;
  color: white;
  cursor: pointer;
}

.headerItems a.active {
  background-color: transparent;
  color: #00e0ff;
}

.headerIcons {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
}
#check {
  display: none;
}
@media (max-width: 780px) {
  .headerName {
    font-size: 1.1rem;
  }
  .headerIcons .closeIcon {
    display: none;
  }
  .headerIcons {
    display: inline-flex;
  }
  .headerItems {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    height: 0;
    border-bottom-left-radius: 20px;
    background-color: #070c1d;
    border: 1px solid #00e0ff;
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .headerIcons .menuIcon {
    display: none;
  }
  #check:checked ~ .headerIcons .closeIcon {
    display: inline-flex;
  }
  #check:checked ~ .headerItems {
    height: fit-content;
    padding: 2rem 4rem;
  }
}
