.home {
  background-color: #081528;
  padding: 6rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homeName {
  display: flex;
  flex: 1;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.picture {
  border-radius: 100%;
  background-color: white;
  border: 5px solid #00e0ff;
  height: 13rem;
  width: 13rem;
  align-self: center;
}
.text {
  color: white;
  font-size: 2.2rem;
}
.boldText {
  color: #00e0ff;
  font-size: 3.5rem;
}
.homeButtons {
  display: flex;
  gap: 2rem;
  align-items: center;
  align-self: center;
}
.homeBtn {
  background-color: #00e0ff;
  color: #15003f;
  font-size: large;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.homeBtn:hover {
  border-color: #00e0ff;
  background-color: transparent;
  color: white;
}
.homeBtn:hover .icon {
  color: #00e0ff;
}
