.homeSection {
  background-color: #081528;
  padding: 6rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homeName {
  display: flex;
  flex: 1;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
@keyframes radious {
  0% {
    border-radius: 56% 44% 42% 58% / 51% 55% 45% 49%;
  }
  25% {
    border-radius: 41% 59% 36% 64% / 61% 55% 45% 39%;
  }
  50% {
    border-radius: 59% 41% 53% 47% / 46% 48% 52% 54%;
  }
  75% {
    border-radius: 49% 51% 38% 62% / 58% 51% 49% 42%;
  }
  100% {
    border-radius: 56% 44% 42% 58% / 51% 55% 45% 49%;
  }
}
.picture {
  /* border-radius: 100%; */
  background-color: rgb(255, 255, 255);
  border: 0.5rem solid #00e0ff;
  height: 13rem;
  width: 13rem;
  align-self: center;
  background-image: url("../assets/profile-pic.png");
  background-size: cover;
  animation: radious 6s infinite;
}
.text {
  color: white;
  font-size: 2.2rem;
}
.boldText {
  color: #00e0ff;
  font-size: 3.5rem;
}
.homeButtons {
  display: flex;
  gap: 2rem;
  align-items: center;
  align-self: center;
}
.homeBtn {
  background-color: #00e0ff;
  color: #15003f;
  font-size: large;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.homeBtn:hover {
  border-color: #00e0ff;
  background-color: transparent;
  color: white;
}
.homeBtn:hover .icon {
  color: #00e0ff;
}
@media (max-width: 1134px) {
  .homeSection {
    padding: 4rem 6rem;
    gap: 3rem;
  }
}
@media (max-width: 1000px) {
  .homeSection {
    padding: 4rem 4rem;
    gap: 3rem;
  }
  .picture {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 930px) {
  .homeSection {
    padding: 3rem 3rem;
    gap: 2rem;
  }
  .homeName {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 2rem;
  }
  .boldText {
    font-size: 3rem;
  }
}
