.projectCard,
.projectCardReverse {
  padding: 01rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item1 item2";
  gap: 2.5rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s;
  padding: 2rem 0rem;
}

.projectCard .imgView {
  animation: blurLeft linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
.projectCard .imgViewMobile {
  animation: blurLeft linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
.projectCardReverse .imgView {
  animation: blurRight linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@keyframes blurLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes blurRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.projectCard:hover,
.projectCardReverse:hover {
  border-color: #00e0ff;
}
.projectCardReverse {
  grid-template-areas: "item2 item1";
}
.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  grid-area: item2;
}
.projectTitle {
  color: #00ffd1;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 6px;
  letter-spacing: 1px;
}
.imgView {
  position: relative;
  height: min-content;
  grid-area: item1;
}
.deskImg {
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 10px;
  transition: transform 1s ease, border-color 0.7s;
}
.mobileImg,
.mobileImgReverse {
  height: 60%;
  border-radius: 10px;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}
.mobileImgReverse {
  bottom: -1rem;
  left: -1rem;
}
.description {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.languagesView {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.language {
  height: 2rem;
}
.buttonsView {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  flex-wrap: wrap;
}
.code,
.website {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid #00ffd1;
  padding: 0.6rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s;
}
.projectIcon {
  color: #00ffd1;
}
.code:hover,
.website:hover {
  background-color: #00e1ff2f;
  border-color: #00e0ff;
}
.code:hover .projectIcon,
.website:hover .projectIcon {
  color: #00e0ff;
}

a {
  text-decoration: inherit;
}

@media (max-width: 850px) {
  .projectCard,
  .projectCardReverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    border-bottom: 1px solid #00e0ff;
  }
  /* .mobileImg, */
  .mobileImgReverse {
    bottom: -1rem;
    left: auto;
  }
  .projectCard:hover,
  .projectCardReverse:hover {
    border-top-color: transparent;
  }
}
