:root {
  --main: rgb(23, 33, 111);
}
.projectCard,
.projectCardReverse {
  padding: 01rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item1 item2";
  gap: 2.5rem;
}
.projectCardReverse {
  grid-template-areas: "item2 item1";
}
.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  grid-area: item2;
}
.projectTitle {
  color: #00ffd1;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 6px;
  letter-spacing: 1px;
}
.imgView {
  position: relative;
  grid-area: item1;
}
.deskImg {
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 10px;
  transition: transform 1s ease, border-color 0.7s;
}
.mobileImg,
.mobileImgReverse {
  height: 10rem;
  grid-area: span 2;
  border-radius: 10px;
  transition: transform 1s ease, border-color 0.7s;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}
.mobileImgReverse {
  bottom: -1rem;
  left: -1rem;
}
.description {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.languagesView {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.language {
  height: 2rem;
}
.buttonsView {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  flex-wrap: wrap;
}
.code,
.website {
  background-color: rgba(217, 217, 217, 0.07);
  color: white;
  border-radius: 5px;
  border: 1px solid #71b69d;
  padding: 0.6rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.code:hover,
.website:hover {
  background-color: #71b69d;
}

a {
  text-decoration: inherit;
}

@media only screen and (max-width: 800px) {
  .projectCard {
    padding: 0rem;
    column-gap: 0.5rem;
    width: 90vw;
    padding-bottom: 10px;
  }
  .projectTitle {
    font-size: 1.3rem;
  }
  .deskImg {
    height: auto;
    width: 100%;
  }
  .mobileImg {
    height: auto;
    width: 23vw;
  }
  .description {
    font-size: 1rem;
  }
  .squares {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .languagesView {
    gap: 10px;
  }
}
