.projectsSection {
  background-color: #070c1d;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 10rem;
  position: relative;
}

.projectTypeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
@keyframes title {
  to {
    background-color: #00a396d5;
    border-color: rgb(0, 255, 179);
  }
}
.projectType {
  color: #ffffff;
  padding: 0rem 2rem;
  display: flex;
  gap: 0.2rem;
  align-items: first baseline;
  width: fit-content;
  position: sticky;
  top: 47px;
  z-index: 2;
  border-radius: 10px;
  border: 1px solid transparent;
  animation: title linear both;
  animation-timeline: view(block);
  animation-range: contain 0% contain 20%;
}
.projectPoint {
  color: #00ffd1;
  font-size: 1.5rem;
}
.projects {
  display: grid;
  gap: 3rem;
}
@media (max-width: 1030px) {
  .projectsSection {
    padding: 4rem 6rem;
    gap: 3rem;
  }
}
@media (max-width: 910px) {
  .projectsSection {
    padding: 4rem 4rem;
    gap: 3rem;
  }
  .projects {
    gap: 3rem;
  }
}
@media (max-width: 850px) {
  .projectsSection {
    padding: 3rem 3rem;
    gap: 1rem;
  }
}
