:root {
  --main: rgb(23, 33, 111);
}
.projectCard {
  border: 1px solid rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  /* background-color: var(--main); */
  width: 31rem;
}
.projectTitle {
  font-weight: 900;
  font-size: 1.4rem;
}
.imgView {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 0.8rem;
  align-items: center;
  padding-bottom: 0.5rem;
}
.deskImg {
  height: 12rem;
  border: 2px solid rgb(158, 0, 237);
  border-radius: 10px;
  /* transform: rotateX(-20deg) rotateY(7deg); */
  transition: transform 1s ease;
}
.deskImg:hover {
  transform: rotateX(0deg) rotateY(0deg) scale(1.4);
}
.mobileImg {
  height: 16rem;
  border: 2px solid rgb(158, 0, 237);
  grid-area: span 2;
  border-radius: 10px;
  /* transform: rotateX(-20deg) rotateY(-10deg); */
  transition: transform 1s ease;
}
.mobileImg:hover {
  transform: rotateX(0deg) rotateY(0deg) scale(1.5);
  z-index: 2;
}
.description {
  font-family: monospace;
  font-size: 1.2rem;
}
.languages {
  color: yellow;
}
.buttonsView {
  display: flex;
  justify-content: space-evenly;
}
.code,
.website {
  background-color: blueviolet;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: transform 0.5s ease, background-color 1s ease;
}
.code:hover,
.website:hover {
  background-color: #646cff;
  transform: scale(1.1);
}

a {
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */
