.tools {
  /* padding: 4rem 0rem; */
  font-size: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.toolsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}
.toolImg {
  height: 3rem;
  transition: transform 0.5s;
  border-radius: 10px;
  background-color: transparent;
}
.toolImg:hover {
  transform: scale(1.2);
}

.stackIcon {
  padding-bottom: 10px;
  border-bottom: 1px solid aqua;
}
